@keyframes bug1 {
0% { left: 10%; top: 15%; }
50% { left: 90%; top: 20%; }
100% { left: 10%; top: 15%; }
}

@keyframes bug2 {
0% { left: 95%; top: 45%; }
50% { left: 40%; top: 70%; }
100% { left: 95%; top: 45%; }
}

@keyframes bug3 {
0% { left: 35%; top: 85%; }
50% { left: 65%; top: 8%; }
100% { left: 35%; top: 85%; }
}

@keyframes bug4 {
0% { left: 2%; top: 92%; }
50% { left: 80%; top: 8%; }
100% { left: 2%; top: 92%; }
}

@keyframes bug5 {
0% { left: 5%; top: 55%; }
50% { left: 65%; top: 83%; }
100% { left: 5%; top: 55%; }
}

@keyframes glow {
    0% {
        background: rgb(136, 106, 55, 0.05);
    }

    50% {
        background: rgb(223, 185, 69, 0.85);
    }

    100% {
        background: rgb(136, 106, 55, 0.05);
    }
}

body {
    height: 100vh;
    overflow: hidden;
    cursor: grab;
}

.firefly {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: rgb(136, 106, 55, 0.05);
    filter: blur(3px);
    animation-iteration-count: infinite, infinite;
}

.firefly:hover {
    animation-play-state: paused, running;
    cursor: grabbing;
}

body .firefly:nth-child(1) {
left: 10%; top: 15%;
animation-name: bug1, glow;
animation-duration: 24s, 4s;
animation-delay: 0s;
}

body .firefly:nth-child(2) {
left: 95%; top: 45%;
animation-name: bug2, glow;
animation-duration: 25s, 4s;
animation-delay: 0s, 10s;
}

body .firefly:nth-child(3) {
left: 35%; top: 85%;
animation-name: bug3, glow;
animation-duration: 28s, 4s;
animation-delay: 2s, 7s;
}

body .firefly:nth-child(4) {
left: 2%; top: 92%;
animation-name: bug4, glow;
animation-duration: 28s, 3s;
animation-delay: 4s, 10s;
}

body .firefly:nth-child(5) {
left: 5%; top: 55%;
animation-name: bug5, glow;
animation-duration: 26s, 3s;
animation-delay: 5s, 18s;
}