* { box-sizing: border-box; }
body {
    padding: 8px;
    /* line-height: 30px; */
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-osx-font-smoothing: grayscale;
    /* background: #fff6ed; */
    background: #fff6ed;
    color: #1f1209;
    font-size: 14px !important;
}
h1, h2, h3, h4, a, ul, ol, li, p {
    font-size: 14px !important;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, ul, ol, p {
    margin-bottom: 1.3em;
}
ul {
    list-style-type: none;
}
ul, ol {
    list-style-position: inside;
}
header {
    display: grid;
    grid-template-columns: 1fr max-content max-content max-content;
}
/* section {
    margin-bottom: 2em;
} */
ul.about li {
    margin-bottom: 0.3em;
}
summary {
    border-bottom: 1px dashed #00000026;
    padding-bottom: 2px;
    margin-bottom: 1em;
    padding: 6px 0;
    position: relative;
}
/* main {
    max-width: 500px;
    margin: 0 auto;
    border: 0 1px;
    border: 1px solid #1f12092c;
    border-right: 1px solid #1f12092c;
    padding: 1em;
} */
.coffee-cup {
    background-image: url('../images/coffee-cup.svg');
    background-size: 100% 100%;
    background-position: center;
    width: 1em;
    height: 1em;
    display: inline-block;
}
.night-cup {
    background-image: url('../images/coffee-cup-invert.svg');
    width: 3em;
    height: 3em;
}
#title { float: left; }
#time { float: right; }
#timestamp {
    text-align: center;
}
.clear { clear: both; }
a {
    color: #1f1209;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.back { text-decoration: none; }
form select, form input, textarea {font-size: 100%; margin-bottom: .5em; outline: none;}
.field {
    width: 100%;
    max-width: 400px;
    border: 1px solid #1f1209;
    color: #000;
    background: #fff6ed;
    padding: 4px 6px;
}
textarea {
    background-color: transparent;
    border: 1px solid #fff6ed;
    resize: none;
    color: #fff6ed;
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    height: 100px;
    padding: 5px;
}
label {
    display: block;
    margin-bottom: 1em;
}
input, select { font-size: 100%; }
.button {
    border: 1px solid #1f1209;
    padding: 1px 4px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    background: #fff6ed;
}
.accordian-button {
    position: absolute;
    right: 0;
    top: 2px;
}
.night-button {
    background: #0b072e;
    color: #fff6ed;
    border: 1px solid #fff6ed;
}
.button:hover {
    background: #00000015;
    text-decoration: none;
}
.note {
    position: absolute;
    /* z-index: -1; */
    width: 200px;
    height: 200px;
    background-color: #fff6ed;
    padding: 10px;
    color: #0b072e;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 0 40px #888888;
    overflow: hidden;
    overflow-y: scroll;
    line-height: 20px;
    cursor: grab;
}
.note:hover {
    z-index: 9999;
    cursor: grab;
}
.note a.delete-note {
    color: #0b072e;
    text-decoration: underline;
    cursor: pointer;
    font-style: italic;
}
.notes-toggle {
    cursor: pointer;
    margin-right: 10px;
}
.notes-toggle:hover {
    text-decoration: underline;
}
#closed {
    width: 100%;
    height: 100%;
    padding: 2em;
    line-height: 25px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0b072e;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.credit {
    position: absolute;
    bottom: 0px;
    right: 15px;
}
.credit, .credit a {color: #fff; font-size: 11px !important;}
.credit a {text-decoration: none;}
.credit a:hover {text-decoration: underline;}
.open { display: none !important; }
#post-note-success a {
    text-decoration: underline;
}
section p, li {
    margin-bottom: 8px;
}
.from-elliott, .from-elliott a {
    color: #00000063;
    font-size: 11px !important;
}
.from-elliott a {
    text-decoration: underline;
}
.light-switch {
    background-image: url('../images/on.svg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    height: 1.5em;
    width: .7em;
    margin-right: .5em;
    cursor: grab;
}
.light-switch:active {
    cursor: grabbing;
}
.secret-door {
    cursor: help;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
}

@media(max-width: 535px) {
    #title, #time { float: none;}
}

